sudo: false
cache:
  directories:
    - $HOME/.cache/pip

language: python

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27

install:
  - pip install tox

script:
  - tox

notifications:
  email: false
